.height{
    height: 100vh;
}

.imagine{
    height: 100%;
    background-image: url(https://picsum.photos/1000);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.card-img{
    height: 300px;
    object-position: center;
    
}